.editor-wrapper {
  width: 80vw;
  max-width: 594px;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border: 1px solid #1d2f2f;
  display: flex;
  flex-direction: column;
}

#editor {
  width: 100%;
  min-height: 200px;
  padding: 5px;
  background-color: #c0d8d8;
  resize: vertical;
}