.preview-wrapper {
  width: 80vw;
  max-width: 1100px;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border: 1px solid #1d2f2f;
}

#preview {
  width: 100%;
  padding-block: 20px;
  padding-inline: 10px;
  background-color: #c0d8d8;
}